# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.source.js':
  'math-random':
    'prefix': 'math-rand'
    'body': """
          function getRandomInt(max) {
        return Math.floor(Math.random() * Math.floor(max));
      }
    """
  'sizer':
    'prefix': 'sizer'
    'body': """
      parseInt(window.getComputedStyle($1).getPropertyValue("$2"));
    """
  'addAttribut':
    'prefix': 'addAttribut'
    'body': """
      $1.setAttribute("$2", "$3")
    """
  'empty':
    'prefix': 'empty'
    'body': """
      function isEmpty(str) {
        return (!str || 0 === str.length);
      }
    """
    'redirection':
      'prefix': 'redirect'
      'body': """
        function Redirection(url){
          document.location.href = url
        }
      """
      'forlistener':
        'prefix': 'forl'
        'body': """
          for (var i = 0; i < $1.length; i++) {
            $2[i].addEventListener('click', (function(arg1) {
                    return function() {
                      alert(arg1)
                    };
                } ) ( i ), false);
          }
        """

'.source.css':
  'responsive':
    'prefix': 'responsive'
    'body': """
    // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
    """
    'reset':
      'prefix': 'reset'
      'body':"""
      /* http://meyerweb.com/eric/tools/css/reset/
         v2.0 | 20110126
         License: none (public domain)
      */

      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
      	margin: 0;
      	padding: 0;
      	border: 0;
      	font-size: 100%;
      	font: inherit;
      	vertical-align: baseline;
      }
      /* HTML5 display-role reset for older browsers */
      article, aside, details, figcaption, figure,
      footer, header, hgroup, menu, nav, section {
      	display: block;
      }
      body {
      	line-height: 1;
      	font-family: helvetica, sans-serif;
      }
      ol, ul {
      	list-style: none;
      }
      blockquote, q {
      	quotes: none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
      	content: '';
      	content: none;
      }
      table {
      	border-collapse: collapse;
      	border-spacing: 0;
      }
      """
